.App {
  text-align: center;
  font-family: 'Montserrat';
}
.home-hero {
  background: url('./images/van2.jpg') center / cover;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  height: 600px;
}   
/* @media (max-width: 1200px) { .hero { background: url(/public/tesla.jpg) center / cover; } } 

@media (max-width:  768px) { .hero { background: url(/public/tesla.jpg) center / cover; } } */

 /* @media (max-width: 1100px) { 
  .columns-hp{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
  .search-bar{
    margin: 0 20px;
  } 
 }  */

@media (max-width:  768px) { 
  .search-btn { margin-top: 20px; } 
  .login {padding-top:30px}
  .login-form {padding: 0 20px 0 20px}
  .mobile { display: none !important}
  .rides-info {width: 300px !important; text-align:center !important; margin: 10px 20px !important}
}

@media (max-width:1024px){
  .auth-buttons { display: flex !important; justify-content: center !important; margin: 20px 0;}
  .nav-list{ display: none}
}

.header-title{
  font-size: 2.5rem !important;
  color: white !important;
}

.home-info-columns-l{
  display: flex !important;
  justify-content: flex-end;
}

.home-info-columns-r{
  display: flex !important;
  justify-content: flex-start;
}

.home-final-button{
  margin-top: 50px;
}

.login{
 height:500px;
 padding-top: 100px;
}

.home-info {
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-top: 20px !important;
  width:450px;
}

.rides-info {
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-top: 20px !important;
  width:550px;
}

.user-cont{
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
}

.user-par{
  margin-left:10px;
}


.ft-logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ft-logo img{
  padding-bottom: 10px;
}
.ft-logo h1{
  font-size: 1.5rem;
}

/* .ft-content {
  font-size: 2rem;
} */

.info-btn{
  border-radius: 10px !important;
  text-decoration: none !important;
}


.ride-details{
  border-radius: 20px !important;
}

.ride-details article {
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-top: 20px;
}

.ReactWeather{
  margin: 50px 0;
}

.user-profile-content{
  /* border: 1px solid black; */
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  margin:30px;
  background-color: white;
}

/* .user-profile-img{
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-end !important;
} */

.review-container{
  margin:10px 50px;
  padding: 20px ;
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
}

.profile-section{
  padding:30px 10px 50px;
}

.review-title{
  font-size: 1.5rem;
  font-weight: 500 !important;
  margin-bottom: 20px;
}

.stars{
  color: hsl(171, 100%, 41%);
}

#nav-boot{
  padding: 0 15px;
}

#nav-brand{
  font-size: 2rem !important;
  color: rgb(86, 86, 86);
}
#nav-brand-img{
  height:30px;
  width:auto;
  margin-left: 15px;
  margin-top: 10px;
}

.nav-list{
  margin-top: 10px !important;
}