.App {
  text-align: center;
  font-family: 'Montserrat';
}
.home-hero {
  background: url('./images/van2.jpg') center / cover;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  height: 600px;
}   
.about-hero {
  background: url('./images/surf1.jpg') center / cover;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}   



/* @media (max-width: 1200px) { .hero { background: url(/public/tesla.jpg) center / cover; } } 

@media (max-width:  768px) { .hero { background: url(/public/tesla.jpg) center / cover; } } */

 /* @media (max-width: 1100px) { 
  .columns-hp{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
  .search-bar{
    margin: 0 20px;
  } 
 }  */

/* @media (max-width:  500px) {
  .rides-info {width: 280px !important;}

 } */


@media (max-width:  768px) { 
  .search-btn { margin-top: 20px; } 
  .login {padding-top:30px}
  .login-form {padding: 0 20px 0 20px}
  .mobile { display: none !important}
  .home-info { display: flex !important; flex-direction: column !important; align-items: center !important; }
  .media-content{ margin: 15px 0 ;}
  .rides-info {display: flex !important; flex-direction: column !important; align-items: center !important; margin: 10px 20px !important}
  .review-container { margin-top: 30px !important; display: flex !important; flex-direction: column !important; align-items: center !important; }
  .ft-cl-1 {padding-top: 20px !important;}
  .ft-cl-2 {margin-top: -10px !important;}
  .ft-cl-3 {margin-top: -20px !important;}
  .mobile-text {font-size: 1rem !important;}
  .mobile-img{width: 20px !important; height: 20px !important;}
  .name-ride-details{ margin-top: 20px;}
  .destination-ride-details{ margin-top: -35px !important;}
  .header-title-about{padding: 0 !important;}
  .header-title{padding-top: 30px !important;}
}

@media (max-width:1024px){
  .auth-buttons { display: flex !important; justify-content: center !important; margin: 20px 0;}
  .nav-list{ display: none}
  .ipad{ display: none !important}
  .rides-info{ margin: 0 90px;}
}

@media (min-width:1024px){
  .rides-info{ width:650px !important;}
}
@media (min-width:1450px){
  .add-review{height:750px !important;}
  .login {height:750px !important;}
}

.header-title{
  font-size: 2.8rem !important;
  color: white !important;
}
.header-title-about{
  font-size: 2.8rem !important;
  color: white !important;
}

.home-info-columns-l{
  display: flex !important;
  justify-content: flex-end;
}

.home-info-columns-r{
  display: flex !important;
  justify-content: flex-start;
}

.home-final-button{
  margin-top: 50px;
}

.login{
 height:550px;
 padding-top: 100px;
}

.home-info {
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-top: 20px !important;
  width:450px;
}

.about-content{
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  padding: 20px 15px !important;
}

.about-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rides-info {
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-top: 20px !important;
  /* width:550px; */
}

.user-cont{
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
}

.user-par{
  margin-left:10px;
}

.info-btn{
  border-radius: 10px !important;
  text-decoration: none !important;
}


.ride-details{
  border-radius: 20px !important;
}

.ride-details article {
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-top: 20px;
}

.ReactWeather{
  margin: 50px 0;
}

.user-profile-content{
  /* border: 1px solid black; */
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  margin:30px;
  background-color: white;
}

/* .user-profile-img{
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-end !important;
} */

.review-container{
  margin:10px 50px;
  padding: 20px ;
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex !important;
  flex-direction: row ;
  justify-content: center;
}

.profile-section{
  padding:30px 10px 50px;
}

.review-title{
  font-size: 1.5rem;
  font-weight: 500 !important;
  margin-bottom: 20px;
}

.stars{
  color: #00d1b2;
}

#nav-boot{
  padding: 0 15px;
}

#nav-brand{
  font-size: 2rem !important;
  color: rgb(36, 36, 36);
  margin-left: 10px !important;
}

#nav-brand:hover{
  text-decoration: none !important;
  transform: none !important;
  transition: none !important;
}

#nav-brand-img{
  height: 50px !important;
  /* margin-left: -20px !important; */
  /* margin-top: 5px; */
}

.nav-list{
  margin-top: 10px !important;
}

.about-section{
  text-align: start !important;
}

.navLink{
  text-decoration: none !important;
  color: rgb(64, 64, 64);
}

footer{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100% !important;
  margin-top: 11px;
}
 .ft-logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ft-logo img{
  padding-bottom: 10px;
}
.ft-logo h1{
  font-size: 1.5rem;
} 
.ft-content {
  margin-top: 10px;
  text-align: center;
} 

nav{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* .ft-cl-1{
  border: 1px solid black;
} */
.lg-ft{
  width: 25px !important;
  height: 25px !important;
  text-decoration: none !important;
}

.add-review{
  height:550px;
}

.rides-list {
  min-height: 500px;
}