@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

.App {
  text-align: center;
}


 /* .hero {
  background-image: url(/map.png);
} */

/* @media (max-width: 1200px) { .hero { background: url(/public/tesla.jpg) center / cover; } } 
@media (max-width: 1024px) { .hero { background: url(/public/tesla.jpg) center / cover; } } 
@media (max-width:  768px) { .hero { background: url(/public/tesla.jpg) center / cover; } } */

@media (max-width:  768px) { .search-btn { margin-top: 20px; } }

.home-info{
  width:450px;
}

.home-info-columns-l{
  display: flex !important;
  justify-content: flex-end;
}

.home-info-columns-r{
  display: flex !important;
  justify-content: flex-start;
}

.home-final-button{
  margin-top: 50px;
}